@import "fonts";

// Colors
$dark: #141827;
$ldark: #161a2b;
$lldark: #1c2033;
$bdark: #212539;
$bbdark: #212740;

$light: #ffffff;
$lgray: #576080;
$gray: #4b5473;
$dgray: #303757;

$yellow: #f1af52;
$gold: #fcad3f;

$main: #465dfa;
$second: #566cfb;

// Fonts
$poppins: "Poppins";
$inter: "Inter";